/* Basic reset and page styles */
body, html, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: hsl(0, 0%, 12%);
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  color: black;
}

header {
  background-color: hsl(0, 0%, 12%);
  width: 100%;
  padding: 20px;
  text-align: center;
  font-size: 28px;
  color: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.content {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: row;
  width: 100%;
  overflow: hidden;
}



.map {
  height: 90%; /* Map takes full height of content */
  width: 100%;  /* Full width for the map */
}

/* Logo container */
.logo-container {
  top: 250px;
  right: 10px;
  position: absolute;
  cursor: pointer;
  display: inline-block;
  z-index: 4;
}

.logo {
  width: 40px;  /* Make the logo smaller */
  height: 40px;  /* Keep it a square to ensure it's circular */
  border-radius: 50%;  /* This makes the image circular */
  object-fit: cover;  /* Ensures the image scales properly within the circle */
}

/* Notification dot */
.notification-dot {
  position: absolute;
  top: -5px;
  right: -5px;
  width: 12px;
  height: 12px;
  background-color: red;
  border-radius: 50%;
  border: 2px solid white;
}

.dropdown-menu {
  position: absolute;
  top: 50px;  /* Distance below the logo */
  left: 0;
  background-color: white;
  width: 300px; /* Fixed width for the report */
  height: 70%;  /* Fixed height to control overflow */
  overflow-y: scroll;  /* Add vertical scrolling if content exceeds height */
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  padding: 10px;
  width: 150px;
  text-align: left;
}


button {
  /* Reset button styles for consistency */
  font-family: inherit;
}

@media (max-width: 768px) {
  .content {
    flex-direction: column;
  }

  .map {
    height: 90%; /* Map takes full height of content */
    width: 100%;  /* Full width for the map */
  }
}

