/* Basic reset and page styles */
body, html, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: hsl(0, 0%, 12%);
  font-size: 16px; /* Base font size for using rem units */
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  color: black;
}

header {
  background-color: hsl(0, 0%, 12%);
  width: 100%;
  padding: 1.25rem; /* Use rem for scalable padding */
  text-align: center;
  font-size: 1.75rem; /* Use rem for scalable font size */
  color: #ffffff;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1); /* Use rem for box-shadow */
}

/* Main content container */
.content {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column; /* Allow content to stack vertically */
  width: 100%;
  height: 90vh; /* Flexible height based on the viewport */
  overflow: hidden;
  align-items: center;
  justify-content: center;
}

/* Map takes most of the screen */
.map {
  height: 95%; /* Adjust to fill the remaining space */
  width: 100%; /* Ensure full width */
  max-height: 80vh; /* Adjust to make sure it doesn't overflow on smaller screens */
}

/* Logo container */
.logo-container {
  top: 2vh;  /* Use vh for flexible positioning based on viewport height */
  right: 2vw; /* Use vw for flexible positioning based on viewport width */
  position: absolute;
  cursor: pointer;
  display: inline-block;
  z-index: 4;
}

.logo {
  width: 2.5rem;  /* Use rem for scalable logo size */
  height: 2.5rem;  /* Keep it a square to ensure it's circular */
  border-radius: 50%;  /* This makes the image circular */
  object-fit: cover;  /* Ensures the image scales properly within the circle */
}

/* Notification dot */
.notification-dot {
  position: absolute;
  top: -0.3125rem; /* Use rem for flexible positioning */
  right: -0.3125rem;
  width: 0.75rem; /* Use rem for scalable dot size */
  height: 0.75rem;
  background-color: red;
  border-radius: 50%;
  transition: background-color 0.3s ease; /* Add transition for smooth appearance change */
}

.notification-dot.off {
  background-color: transparent; /* Makes the notification disappear when off */
}

.blink {
  animation: blink-animation 1s infinite; /* Blink every second */
}

@keyframes blink-animation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


/* For mobile screens */
@media (max-width: 768px) {
  .content {
    flex-direction: column; /* Stack content vertically */
    height: auto; /* Let height auto adjust */
  }

  .map {
    height: 50vh; /* Make the map take less space on small screens */
    width: 100%;
  }

  .dropdown-menu {
    width: 90vw; /* Make the report menu larger on small screens */
    top: 5vh;
    right: 1vw;
    height: 50vh; /* Adjust height for smaller devices */
  }

  /* Adjust logo for smaller screens */
  .logo-container {
    top: 1.25rem; /* Adjust logo slightly */
    right: 1.25rem;
  }
}
